@import '../../../styles/function.scss';

.list {

    @include FontSize(14);
    
    li {
        display: inline-block;
        margin-right: 5px;
        margin-top: 5px;
        &:last-of-type {
            margin-right: 0;
        }
    }

    a[href] {
        border: solid 1px;
        padding: 6px 12px;
        display: inline-block;
        text-decoration: none;
        background-color: #{map-get($siteColor,white)};
    }

}
