@import '../../../styles/function.scss';

.copyright {
  position: static;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #{map-get($siteColor,gray-5)};
  p {
    @include FontSize(12);
    text-align: center;
  }
}
