@mixin dl_01($color: #{map-get($siteColor,sub)}) {
    margin-top: 20px;

    dt {
        font-weight: 700;
        color: $color;
    }
    dd {
        margin-left: 1em;
        margin-top: 5px;
    }
}




@mixin ul_01() {
    margin-top: 30px;
    margin-bottom: 30px;
    list-style: circle;
    margin-left: 1.3em;
    
    li {
        white-space: pre-wrap;

        + li {
            margin-top: 10px;
        }

        > ul {
            list-style: disc;
            margin-top: 0;
            margin-bottom: calc(-1.3em*2);

            > li {
                margin-top: -1.3em !important;
                padding-top: 5px;
            }
        }
    }
}
