$siteColor: (
	black: #333,
	gray: #ddd,
	gray-2: #aaa,
	gray-3: #ddd,
	gray-4: #888,
	gray-5: #f4f4f4,
	gray-6: #eee,
	white: #fff,
	font: #666,
	font-code: #53d241,
	bg-code: #222,
	main: #e66390,
	l-main: #fbeaf1,
	sub: #11c6d0,
	l-sub: #d7f5f6,
	accent: #f1c824,
);
